

<div data-role="content">
    <div data-role="collapsible">
        <h3>Load file</h3>
        <ul data-role="listview">
            <li>
                <a href="#">
                    <img src="images/stretchy_band.png" />
                    <h3>stretchy_band.stl</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/toad.png" />
                    <h3>toad_Cut_2.stl</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/springy_thing.png" />
                    <h3>springy_thing.stl</h3>
                </a>
            </li>
            <li>
                <a href="#sketch_1">
                    <img src="images/PHK_Clip.png" />
                    <h3>PHK_Clip.stl</h3>
                </a>
            </li>
        </ul> 
    </div> 
    <div data-role="collapsible" data-icon="check">
        <h3>Print</h3>
        <div data-role="content" onClick="playPausePrintVideo()"> 
            <div class="centerContent">                  
                <video width="320" height="180" id="printVideo">
                    <source src="/videos/test.mp4" type="video/mp4">
                    </video> 
            </div>
            <div class="ui-grid-d">
                <h3 class="ui-block-a"></h3>
                <h3 class="ui-block-b">ETemp</h3>
                <h3 id="tCounter" class="ui-block-c">190</h3>
                <h3 id="tTarget" class="ui-block-d">> 200</h3>
                <h3 class="ui-block-e"></h3>
            </div>
            <div class="ui-grid-d">
                <h3 class="ui-block-a"></h3>
                <h3 class="ui-block-b">BTemp</h3>
                <h3 id="bCounter" class="ui-block-c">60</h3>
                <h3 id="bTarget" class="ui-block-d"></h3>
                <h3 class="ui-block-e"></h3>
            </div>
            <a href="#sketch_0" data-transition="slide" data-role="button" data-icon="gear">Pause</a>
            <a href="#sketch_0" data-transition="slide" data-role="button" data-icon="delete">Cancel</a>
        </div><!-- /content -->
    </div>  

    <div data-role="collapsible">
        <h3>View recording</h3>

        <div data-role="collapsible">
            <h3>stretchy_band_03/01/12-14:16</h3>
        </div>

        <div data-role="collapsible">
            <h3>stretchy_band_03/01/12-14:30</h3>
        </div>

        <div data-role="collapsible">
            <h3>stretchy_band_03/01/12-15:30</h3>
        </div>

    </div>
    <div data-role="collapsible">
        <h3>Slicer settings</h3>

        <div data-role="collapsible">
            <h3>Plater</h3> 
            <div class="centerContent">
                <div data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <a href="index.html" data-role="button" data-icon="arrow-u" data-iconpos="notext">Up</a>
                    <a href="index.html" data-role="button" data-icon="arrow-d" data-iconpos="notext">Down</a>
                    <a href="index.html" data-role="button" data-icon="delete" data-iconpos="notext">Delete</a>
                    <a href="index.html" data-role="button" data-icon="grid" data-iconpos="notext">Up</a>
                    <a href="index.html" data-role="button" data-icon="refresh" data-iconpos="notext">Down</a>
                    <a href="index.html" data-role="button" data-icon="search" data-iconpos="notext">Delete</a>
                </div>
            </div>
            <div class="centerContent">
                <img src="images/grid.png" user-scalable=1></div>
            </div>
            <div data-role="collapsible">
                <h3>Print Settings</h3>
            </div>

            <div data-role="collapsible">
                <h3>Filament Settings</h3>
                <div data-role="fieldcontain">
                    <label for="diameter">Diameter mm:</label>
                    <input type="text" name="name" id="diameter" value="" data-mini="true" />
                </div>
                <div data-role="fieldcontain">
                    <label for="multiplier">Extrusion multiplier:</label>
                    <input type="text" name="name" id="multiplier" value="" data-mini="true" />
                </div>
                <label for="extruder-fl">Extruder first layer:</label>
                <input type="range" name="extruder-fl" id="extruder-fl" value="25" min="0" max="100" data-highlight="true" data-mini="true" />
                <label for="extruder-ol">Extruder other layer:</label>
                <input type="range" name="extruder-ol" id="extruder-ol" value="25" min="0" max="100" data-highlight="true" data-mini="true" />
                <label for="bed-fl">Bed first layer:</label>
                <input type="range" name="bed-fl" id="bed-fl" value="25" min="0" max="100" data-highlight="true" data-mini="true" />
                <label for="bed-ol">Bed other layer:</label>
                <input type="range" name="bed-ol" id="bed-ol" value="25" min="0" max="100" data-highlight="true" data-mini="true" />
            </div>

            <div data-role="collapsible">
                <h3>Printer Settings</h3>
            </div>

        </div> 
    <div data-role="collapsible">
        <h3>Direct control printer</h3>

        <a href="#" data-role="button" data-icon="star">Home All</a>

        <div data-role="collapsible">
            <h3>Move X</h3>
            <input type="range" class="slider" name="slider-X" id="slider-X" value="0" min="-50" max="50" />
            <div class="centerContent">
                <div data-role="controlgroup" data-type="horizontal">
                    <a href="#" data-role="button" data-inline="true" data-icon="arrow-r">Move X</a> 
                    <a href="#" data-role="button" data-align="right" data-inline="true" data-icon="home">Home X</a> 
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h3>Move Y</h3>
            <input type="range" name="slider-X" id="slider-X" value="0" min="-50" max="50" />

        </div>

        <div data-role="collapsible">
            <h3>Move Z</h3>
            <input type="range" name="slider-X" id="slider-X" value="0" min="-50" max="50" />
        </div>

    </div> 
</div><!-- /content -->
