

<div data-role="collapsible">
    <h3>Direct control printer</h3>

    <a href="#" data-role="button" data-icon="star">Home All</a>

    <div data-role="collapsible">
        <h3>Move X</h3>
        <input type="range" class="slider" name="slider-X" id="slider-X" value="0" min="-50" max="50" />
        <div class="centerContent">
            <div data-role="controlgroup" data-type="horizontal">
                <a href="#" data-role="button" data-inline="true" data-icon="arrow-r">Move X</a> 
                <a href="#" data-role="button" data-align="right" data-inline="true" data-icon="home">Home X</a> 
            </div>
        </div>
    </div>
    <div data-role="collapsible">
        <h3>Move Y</h3>
        <input type="range" name="slider-X" id="slider-X" value="0" min="-50" max="50" />

    </div>

    <div data-role="collapsible">
        <h3>Move Z</h3>
        <input type="range" name="slider-X" id="slider-X" value="0" min="-50" max="50" />
    </div>

</div> 