html
	include main_menu
	button(data-icon='star', data-corners="false", value="Home All", id="homexyz")
	div(data-role='collapsible', data-corners="false")
		h3 Move X
		input#slider-X.slider(type='range', id='sliderx', value='0', min='0', max='200')
		.centerContent
		div(data-role='controlgroup', data-type='horizontal')
			button(class="moveControl", data-inline='true', data-icon='arrow-r', value="Move X", id="movex")
			button(class="homeControl", data-align='right', data-inline='true', data-icon='home' , value="Home X", id="homex")
	div(data-role='collapsible')
		h3 Move Y
		input#slider-X(type='range', id='slidery', value='0', min='0', max='200')
		.centerContent
		div(data-role='controlgroup', data-type='horizontal')
			button(class="moveControl", data-inline='true', data-icon='arrow-r', value="Move Y", id="movey")
			button(class="homeControl", data-align='right', data-inline='true', data-icon='home', value="Home Y", id="homey")
	div(data-role='collapsible')
		h3 Move Z
		input#slider-X(type='range', id='sliderz', value='0', min='0', max='200')
		.centerContent
		div(data-role='controlgroup', data-type='horizontal')
			button(class="moveControl", data-inline='true', data-icon='arrow-r', value="Move Z", id="movez")
			button(class="homeControl", data-align='right', data-inline='true', data-icon='home', value="Home Z", id="homez")