html
	include main_menu
	div(data-role='collapsible')
		h3 Load file
		form(action='/upload/', enctype='multipart/form-data', method='post')
			input(type='file', name='upload')
			input(type='submit', value='Upload')
		a(href='/upload/', data-role='button') upload
	div(data-role='collapsible', data-icon='check')
		h3 Print
		div(data-role='content', onclick='playPausePrintVideo()')
			a(href='#sketch_0', data-transition='slide', data-role='button', data-icon='gear') Pause
			a(href='#sketch_0', data-transition='slide', data-role='button', data-icon='delete') Cancel
