<div data-role="collapsible">
    <h3>Load file</h3>
    <ul data-role="listview">
        <li>
            <a href="#">
                <img src="images/stretchy_band.png" />
                <h3>stretchy_band.stl</h3>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/toad.png" />
                <h3>toad_Cut_2.stl</h3>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/springy_thing.png" />
                <h3>springy_thing.stl</h3>
            </a>
        </li>
        <li>
            <a href="#sketch_1">
                <img src="images/PHK_Clip.png" />
                <h3>PHK_Clip.stl</h3>
            </a>
        </li>
    </ul> 
</div> 
<div data-role="collapsible" data-icon="check">
    <h3>Print</h3>
    <div data-role="content" onClick="playPausePrintVideo()"> 
        <div class="centerContent">                  
            <video width="320" height="180" id="printVideo">
                <source src="/videos/test.mp4" type="video/mp4">
                </video> 
            </div>
            <div class="ui-grid-d">
                <h3 class="ui-block-a"></h3>
                <h3 class="ui-block-b">ETemp</h3>
                <h3 id="tCounter" class="ui-block-c">190</h3>
                <h3 id="tTarget" class="ui-block-d">> 200</h3>
                <h3 class="ui-block-e"></h3>
            </div>
            <div class="ui-grid-d">
                <h3 class="ui-block-a"></h3>
                <h3 class="ui-block-b">BTemp</h3>
                <h3 id="bCounter" class="ui-block-c">60</h3>
                <h3 id="bTarget" class="ui-block-d"></h3>
                <h3 class="ui-block-e"></h3>
            </div>
            <a href="#sketch_0" data-transition="slide" data-role="button" data-icon="gear">Pause</a>
            <a href="#sketch_0" data-transition="slide" data-role="button" data-icon="delete">Cancel</a>
        </div><!-- /content -->
    </div> 