html
	div(data-role='header')
		h1 #{fileName}
		div(class="centerContent")
			div(data-role='controlgroup', data-type='horizontal')
				a(href='#home', data-role='button') Home
				a(href='#direct_control', data-role='button') Direct Control
				a(href='#', data-role='button') Video View
				a(href='#', data-role='button') Slicer Settings